*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #2f1b58;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    color:#fff;
}